Repository pasqal-io/qoolqit, pull requests merged in 2025-06, with the labels that each got.

#34 Add embedding module
  docs/contents/available_embedders.md
  docs/contents/custom_embedders.md
  docs/contents/graphs.md
  docs/contents/registers.md
  docs/utils.py
  mkdocs.yml
  pyproject.toml
  qoolqit/__init__.py
  qoolqit/embedding/__init__.py
  qoolqit/embedding/algorithms/__init__.py
  qoolqit/embedding/algorithms/interaction_embedding.py
  qoolqit/embedding/algorithms/spring_layout_embedding.py
  qoolqit/embedding/base_embedder.py
  qoolqit/embedding/graph_embedder.py
  qoolqit/embedding/matrix_embedder.py
  qoolqit/graphs/base_graph.py
  qoolqit/graphs/data_graph.py
  qoolqit/register.py
  qoolqit/utils.py
  tests/test_embedding.py
  tests/test_register.py
Labels: feature, problem embedding

#37 Some documentation improvements
  docs/CONTRIBUTOR AGREEMENT.md
  docs/LICENSE.md
  docs/contents/devices.md
  docs/contents/programs.md
  docs/extras/css/home.css
  docs/extras/overrides/home.html
  docs/getting_started/rydberg_model.md
  docs/index.md
  docs/theory/rydberg_model.md
  docs/tutorials/getting_started.md
  docs/tutorials/unit_conversion.md
  mkdocs.yml
  pyproject.toml
  tests/test_program.py
Labels: documentation

#35 Local backend integration
  .github/workflows/test.yml
  docs/contents/execution.md
  mkdocs.yml
  pyproject.toml
  qoolqit/execution/__init__.py
  qoolqit/execution/backend.py
  qoolqit/execution/utils.py
  qoolqit/program.py
  tests/conftest.py
  tests/metrics.py
  tests/test_execution.py
Labels: feature, program execution
